.grid > div{
    border-style: inset;
    border-width: thin;
    font-family: 'Nunito', sans-serif;
}
.grid{
    display: grid;
    max-width: 980px;
    grid-template-rows: repeat(32, 60px);
    /* grid-template-columns: 200px repeat(9, minmax(min-content, 100px)); */
    grid-template-columns: 200px repeat(9, minmax(50px, 100px));
    margin: auto;   
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}
#byline {
    text-align: center;
}
.h1 {
    
    font-size: 1em;
}
.h2 {
    font-size: 1.5em;
}
.h3 {
    color: #eeeeee;
    font-size: 1em;
}
.h4 {
    color: black;
    font-size: .8em;
}
.h5 {
    color: black;
    font-size: 1em;
    margin-bottom: 0;
}
.title{
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 15px;
    border-radius: 11px;
    text-align: center;
    margin: 10px;
}
.description {
    display: flex;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.tippy-box {
    font-size: 1em;
    background-color:#333333;
    color: white;
}
circle {
    fill: #FF5F33;
}
/* to change svg circle on hover */
.circle:hover {
    stroke: black;    
}
.academic, .wellbeing{
    background-color: lightgrey;
}
.headRow {
    display: flex;
    background-color: #0F0FEB;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: .9rem;
}
.interventionRow {
    font-size: 1em;
    display: flex;
    background-color: #7474c9;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: .9rem;
}
.header {
    margin-top: 100px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.maps, .legend, .tog {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: #0F0FEB;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 4px 1px;
    cursor: pointer;
}
.button:hover {
    background-color: #0F0FEB;
    opacity: .5;
}
.button:active {
    opacity: .8;
}
.bg-dark {
    margin-top: 5px;
}
@media only screen and (min-width: 979px) {
    .tog {
        display: none;
    }
}
@media only screen and (max-width: 979px) {
    body {
        width: auto;
        
    }
    .interventionRow, .headRow {
        font-size: .8em;
        line-height: .5rem
    }
    div.wel {
        display: none;
    }
    .grid {
        grid-template-columns: repeat(5, 20vmin);
    }

    #grid, .tog, #legend{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .image {
        display: none;
    }
}